{:builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [smartcal.core]}}
                      :devtools   {:after-load smartcal.core/mount-root}}}
 :deps true  ; use deps.edn to launch shadow-cljs, rather than npx
 :dev-http     {3000 {:root "public"}}}
