body {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 18px;
    -webkit-font-smoothing: antialiased;
    color: #333;
    height: calc(100vh - 18px);
}

div#app {
    height: 100%;
}

div#cal {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div#control {
    width: 100%;
    display: flex;
    align-items: center;
}

div#control > p {
    text-wrap: nowrap;
}

div#control > input {
    flex-grow: 1;
}

div#table {
    flex-grow: 1;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(7, 1fr);
    border-top: solid 2px #333;
    border-bottom: solid 2px #333;
    margin: 1em 0;
    text-align: right;
}

div#table > .td {
    border-bottom: solid 1px #333;
    padding: 0.2em 0;
}

.td.weekend {
    color: rgba(51, 51, 51, 0.4);
}

div#table > .th {
    font-weight: bold;
}

p.day {
    margin: 0;
}

ul.events {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.85em;
}

ul.events > li {
    width: 98%;
    padding: 1%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cmdline-inout {
    margin: 0 0 1.2rem 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #333;
}

div#cmdline {
    position: relative;
}

div#cmdline > .cmdline {
    display: block;
    font-family: monospace;
    margin: 0;
    padding: 10px;
    border: 0;
    width: calc(100% - 20px);
    font-size: 0.8rem;
    line-height: 1rem;
    /* We just want to simulate the terminal behavior. */
    white-space: normal;
    white-space-collapse: preserve;
    word-break: break-all;
}

#cmdline-out {
    padding: 0 10px;
    max-height: 6em;
    overflow-y: auto;
    color: #657b83;
}

#cmdline-in {
    color: transparent;
    background: transparent;
    caret-color: #586e75;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
}

#cmdline-disp {
    background-clip: padding-box;
    color: #586e75;
}

#cmdline-disp span.failure {
    color: #dc322f;
}

#cmdline-disp span.comment {
    color: #93a1a1;
}

#cmdline-disp span.str-lit, #cmdline-disp span.int-lit {
    color: #2aa198;
}

#cmdline-disp span.add-cmd > span:first-child {
    color: #268bd2;
}
