body {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, sans-serif;
    max-width: 62rem;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    padding: 0 1rem;
    color: #333;
    height: calc(100svh - 1rem);
    background-color: #ececec;
}

div#app {
    height: 100%;
    position: relative;
    padding-top: 1rem;
}

div#cal {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div#modal {
    max-height: 85svh;
    width: min(85svw, 52.7rem);
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: solid 1px #c1c1c1;
    border-left: solid 1px #c1c1c1;
    border-right: solid 1px #c1c1c1;
    border-radius: 2px;
    padding: 18px;
    background-color: #ececec;
    box-shadow: 0px 0px 16px #aaa;
    overflow: auto;
    transition: top 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

div#modal.hidden {
    top: calc(-85vh - 2rem);
}

div#control {
    width: 100%;
    display: flex;
    align-items: center;
}

div#control > p {
    text-wrap: nowrap;
}

div#control > input {
    flex-grow: 1;
}

div#table {
    flex-grow: 1;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: min-content;
    grid-auto-rows: minmax(5rem, 1fr);
    border-top: solid 2px #333;
    border-bottom: solid 3px #333;
    margin: 1rem 0;
    padding: 0 0.3rem;
}

div#table > .td {
    border-bottom: solid 1px #333;
    padding: 0.2rem 0;
}

div#table > .td:nth-last-child(1),
div#table > .td:nth-last-child(2),
div#table > .td:nth-last-child(3),
div#table > .td:nth-last-child(4),
div#table > .td:nth-last-child(5),
div#table > .td:nth-last-child(6),
div#table > .td:nth-last-child(7) {
    border-bottom: none;
}

div#table > .th {
    font-weight: bold;
}

p.day {
    margin: 0;
}

ul.events {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.85rem;
}

ul.events > li {
    width: 98%;
    padding: 1%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

#cmdline-inout {
    margin: 0 0 1.2rem 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #333;
}

div#cmdline {
    position: relative;
}

div#cmdline > .cmdline {
    display: block;
    font-family: Menlo, "DejaVu Sans Mono", monospace;
    margin: 0;
    padding: 0.5rem;
    border: 0;
    width: calc(100% - 1rem);
    font-size: 0.8rem;
    line-height: 1rem;
    /* We just want to simulate the terminal behavior. */
    white-space: normal;
    white-space-collapse: preserve;
    word-break: break-all;
}

#cmdline-out {
    padding: 0 0.5rem;
    max-height: 6rem;
    overflow-y: auto;
    color: #657b83;
}

#cmdline-in {
    color: transparent;
    background: transparent;
    caret-color: #586e75;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
}

#cmdline-disp {
    background-clip: padding-box;
    color: #586e75;
}

#cmdline-disp span.failure {
    color: #dc322f;
}

#cmdline-disp span.comment {
    color: #93a1a1;
}

#cmdline-disp span.str-lit,
#cmdline-disp span.int-lit,
#cmdline-disp span.date-lit,
#cmdline-disp span.md-lit,
#cmdline-disp span.d-lit,
#cmdline-disp span.month-lit,
#cmdline-disp span.dow-lit {
    color: #2aa198;
}

#cmdline-disp span.add-cmd > span:first-child {
    color: #268bd2;
}

div#modal.help p {
    line-height: 1.3;
}

div#modal.help code {
    font-family: Menlo, "DejaVu Sans Mono", monospace;
    background-color: #ddd;
    border: solid 1px #ccc;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 0 2px;
    box-shadow: 0px 1px 1px #ddd;
}

div#modal.help summary {
    font-weight: bold;
}

div#ls-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

div#ls-grid > div {
    border-top: solid 2px #ccc;
    padding: 1em;
}

div#ls-grid > div:nth-child(2n+1) {
    justify-self: end;
}

div#ls-grid > div.ls-minigrid {
    display: grid;
    grid-template-columns: repeat(7, 0.75rem);
    grid-auto-rows: 0.75rem;
}

div#ls-grid div.ls-minigrid-day {
    margin: 0;
    padding: 0;
    border-top: solid 2px #ccc;
    border-left: solid 2px #ccc;
}

div#ls-grid div.ls-minigrid-day.present {
    background-color: #ccc;
}

div#ls-grid div.ls-minigrid-day.absent {
    background-color: #e6e6e6;
}

div#ls-grid div.ls-minigrid-day:nth-child(7n) {
    border-right: solid 2px #ccc;
}

div#ls-grid div.ls-minigrid-day:nth-last-child(1),
div#ls-grid div.ls-minigrid-day:nth-last-child(2),
div#ls-grid div.ls-minigrid-day:nth-last-child(3),
div#ls-grid div.ls-minigrid-day:nth-last-child(4),
div#ls-grid div.ls-minigrid-day:nth-last-child(5),
div#ls-grid div.ls-minigrid-day:nth-last-child(6),
div#ls-grid div.ls-minigrid-day:nth-last-child(7) {
    border-bottom: solid 2px #ccc;
}

div#ls-grid div.ls-desc {
    font-size: 0.85rem;
}

div#ls-grid div.ls-desc h4 {
    margin-top: 0;
}
